<IfModule mod_rewrite.c>
    RewriteEngine On

    # Externally redirect /filename.php to /filename
    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ %1 [R=301,L]

    # Internally rewrite a clean URL to the corresponding .php file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.+)$ $1.php [L]
</IfModule>